
	body 
		{ 
			background-color: #FFFFFF; 
			font-family: Verdana, Geneva, sans-serif; 
			text-align: center; 
		} 

	 small 
	 	{ 
			font-size: 0.7em; 
		}
		
	

	table 
		{ 
			border: 1px solid #4D7C7B; 
			border-collapse: collapse; 
			border-spacing: 0px; 
			width: 1000px; 
			margin-left: auto; 
			margin-right: auto; 
		} 

		tr.heading 
		{ 
		    background-color: #99FFFF; 
			color: #660066; 
			font-size: 0.9em; 
			font-weight: bold; 
		} 

		tr.subheading 
		{ 
		    background-color: #FFFFFF; 
			color: #330033; 
			font-weight: bold; 
			font-size: 0.9em; 
			text-align: center; 
		} 

		tr.section 
		{ 
		    background-color: #89B6B5; 
			color: #333300; 
			cursor: pointer; 
			font-weight: bold; 
			font-size: 0.9em; 
			text-align: justify; 
		} 

		tr.subsection 
		{ 
		    cursor: pointer; 
		} 

		tr.content 
		{ 
		    background-color: #FAFAC5; 
			color: #000000; 
			font-size: 0.9em; 
			display: table-row; 
		}

		td, th 
		{ 
			padding: 4px; 
			text-align: inherit\0/; 
		} 
		th.header 
		{ 
		    background-color: #4D7C7B; 
			color: #FFFF95; 
			font-size: 0.9em; 
			font-weight: bold; 
			text-align: center;
		} 

		td.justified 
		{ 
		    text-align: justify; 
		} 

		td.pass 
		{ 
		    font-weight: bold; 
			color: green; 
		} 

		td.fail 
		{ 
			font-weight: bold; 
			color: red; 
		} 

		td.done, td.screenshot 
		{ 
			font-weight: bold; 
			color: black; 
		} 

		td.debug 
		{ 
			font-weight: bold; 
			color: blue; 
		} 

		td.warning 
		{ 
			font-weight: bold; 
			color: orange; 
		}
		
		td.header 
		{
			font-weight: bold;
			color: blue;
			text-align: center;
			background-color: #CCFFCC;
		}
		
	